header{
background-color: blueviolet;
color: aquamarine;
display:flex;
justify-content: space-around;
}

.cabecalho-imagem {width: 15%;} 

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px
}

*{
    margin: 0;
    justify-content: space-around;
    padding: 24px 0;
    font-size: 24px
}